<ul>
    <% todo.filter(item => !item.completed).forEach(function(item,index) { %>
        <li class="todoItem">
            <form method="post" action="/changeComplete" id="completeForm<%= index %>" style="display: inline-block;">
                <input type="hidden" name="index" value="<%= index %>">
                <input type="checkbox" <%= item.completed==true?"checked":"" %> name="completed" onclick="onChangeItemComplete(<%= index %>)">
            </form>
            <div id="nameLabel<%= index %>" ondblclick="onChangeItemName(<%= index %>)" style="display: inline-block;"><%= item.name %></div>
            <form method="post" action="/changeName" id="nameForm<%= index %>" style="display: none;">
                <input type="hidden" name="index" value="<%= index %>">
                <input type="text" name="newName" value="<%= item.name %>" id="nameInput<%= index %>" onkeydown='addKey("<%= item.name %>",<%= index %>)'>
            </form>
            <form method="post" action="/deleteTodo" id="deleteForm<%= index %>" class="delete">
                <input type="hidden" name="index" value="<%= index %>">
                <button type="submit">×</button>
            </form>
        </li>
    <% }); %> 
</ul>