<!doctype html>
<html lang="en">
	<%- include('../partials/head'); %>
    <body>
		<section class="todoapp">
            <%- include('../partials/todoHeader'); %>
			<section class="main" style="display: <%= todo.length > 0 ? "block":"none" %>;">
                <%- include('../partials/toggleAll'); %>
                <%- include('../partials/todoList/activeTodos'); %>
			</section>
			<%- include('../partials/todoFooter'); %>
		</section>
        <script type="text/javascript" src="/js/app.js"></script>
	</body>
</html>
