<!doctype html>
<html lang="en">
	<%- include('../partials/head'); %>
    <body>
		<section class="todoapp">
            <%- include('../partials/todoHeader'); %>
			<section class="main" style="display: <%= todo.length > 0 ? "block":"none" %>;">
                <%- include('../partials/toggleAll'); %>
                <%- include('../partials/todoList/completedTodos'); %>
			</section>
			<footer class="footer" style="display: <%= todo.length > 0 ? "block":"none" %>;">
                <span class="todo-count">
                    <strong><%= todo.filter(item => !item.completed).length %></strong> item left
                </span>
                <ul class="filters">
                    <li>
                        <a href="/">All</a>
                    </li>
                    <li>
                        <a href="/active">Active</a>
                    </li>
                    <li>
                        <a class="selected" href="/completed">Completed</a>
                    </li>
                </ul>
                <%- include('../partials/clearCompleted');%>
            </footer>
		</section>
        <script type="text/javascript" src="/js/app.js"></script>
	</body>
</html>
